<!-- Thông tin giới thiệu và liên kết mạng xã hội -->
    <div class="container mt-5" style="">
        <div class="row">
            <div class="col-md-6">
                <h4>TechShop</h4>
                <p>Hotline: 07676767676.</p>
            </div>
            <div class="col-md-6">
                <h4>Connect with us</h4>
                <!-- Thêm liên kết đến trang Facebook hoặc các mạng xã hội khác -->
                <a href="http://127.0.0.1:8003/" target="_blank">TechShop</a>
            </div>
        </div>
    </div>
